<!DOCTYPE html>
<html ng-app="indexwasihome">
<head>
	<title>Pararallax</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<style type="text/css">
		.image{
			width: 100%;
		}
		.parallax-window {
			    min-height: 400px;
			    background: transparent;
			}
	</style>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="iconos/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/flaticon.css">
	<link rel="stylesheet" type="text/css" href="css/video.css">

	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/correo.js"></script>
</head>
<body data-spy="scroll" data-target="#menu">
	<nav id="menu" class="navbar navbar-default navbar-fixed-top menu">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">
	        <img alt="Brand" src="img/logo4.png" height="150px" width="150px">
	      </a>
	      <button data-toggle="collapse-side" data-target=".side-collapse" data-target-2=".side-collapse-container" type="button" class="navbar-toggle pull-right">
	      	<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
	    </div>
	    <div id="navbar" class="navbar side-collapse in">
		      <ul class="nav navbar-nav navbar-right">	        
		      		<li><a href="#Inicio" >Inicio</a></li>		      		
		      		<li><a href="#Servicios">Servicios</a></li>	
		      		<li><a href="#PuntoVenta">Punto de Venta</a></li>			      		
		      		<li><a href="#Contactenos">Contactenos</a></li>		
		          </ul>
		        </li>
		      </ul>
	    </div>
	  </div>
	</nav>

	<div id="Inicio">
		<div class="homepage-hero-module">
	    <div class="video-container">
		        <div class="title-container">		        
			        <h1>Grandes Experiencias</h1>
			        <img src="img/frase.png">			        			        
			   		<div class="flecha">	
			        	<a href="#Pasos" ><i class="fa fa-angle-down fa-4x" aria-hidden="true"></i></a>
			       	</div>
		        </div>
		        <video autoplay loop class="fillWidth">
		            <source src="video/Mp4/Coverr-office.mp4" type="video/mp4" />Su navegador no soporta la etiqueta de vídeo. Le sugiero que actualice su navegador.
		            <source src="video/Webm/Coverr-office.webm" type="video/webm" />Su navegador no soporta la etiqueta de vídeo. Le sugiero que actualice su navegador.
		        </video>
		        <div class="poster hidden">
		            <img src="video/Snapshots/Coverr-office.jpg" alt="">
		        </div>
		    </div>
		</div>
	</div>
	
	<div id="Pasos" class="parallax-window" data-parallax="scroll">
		<div class="container">
			<h1>Cumplimos tus sueños en 4 pasos</h1>
			<div class="row">
				<div class="col-md-3 col-sm-6 col-xs-12">
					<h3>Visítanos</h3>
					<img src="img/VISITANOS.png"/><br>
					<i class="fa fa-angle-down fa-4x" aria-hidden="true"></i></div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<h3>Experimenta</h3>
					<img src="img/EXPERIMENTA.png"/><br>
					<i class="fa fa-angle-down fa-4x" aria-hidden="true"></i></div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<h3>Siente</h3>
					<img src="img/SIENTE.png"/><br>
					<i class="fa fa-angle-down fa-4x" aria-hidden="true"></i></div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<h3>Ahorra</h3><img src="img/AHORRO.png"/><br>
					<i class="fa fa-angle-down fa-4x" aria-hidden="true"></i></div>
			</div>
		</div>
	</div>
	<div></div>
	<div id="Contactenos" ng-controller="Contactenos as cont">
		<div class="container">
		<h1>Contáctanos</h1>
		<div class="col-md-6 col-sm-12 col-xs-12 datos">
			<div class="row">
			<h3><i class="fa fa-building-o fa-pull-left" aria-hidden="true"></i>Dirección:</h3>
			<p>Juan Pablo Sanz e Iñaquito esquina – Edif. CAMICON 5to piso</p>
			</div>
			<div class="row">
			<h3><i class="fa fa-phone fa-pull-left" aria-hidden="true"></i>Telefono:</h3>
			<p>(+539) 983 372 923 / (+539) 2 5127 246</p>
			</div>
			<div class="row">
			<h3><i class="fa fa-envelope-o fa-pull-left" aria-hidden="true"></i>Email:</h3>
			<p>info@wasihome.com</p>
			</div>
			<div class="row redes">			        			        	
		       	<i class="fa fa-facebook fa-3x" aria-hidden="true"></i>
				<i class="fa fa-instagram fa-3x" aria-hidden="true"></i>			
				<i class="fa fa-youtube fa-3x" aria-hidden="true"></i>		
		</div>			
		</div>
		<div class="col-md-6 col-sm-12 col-xs-12">
			<div id="mensaje"></div>
			<form name="form_contact" novalidate>
				<div class="form-group">
				    <label for="exampleInputEmail1">Nombre</label>
				    <input type="text" class="form-control" id="txtNombre" name="Name" ng-model="frm.Name" placeholder="Ex. juanito perez" required>
				</div>
				<div class="col-md-6 col-sm-12 col-xs-12" style="padding-left: 0px;">	
				  <div class="form-group">
				    <label for="exampleInputEmail1">Email</label>
				    <input type="email" class="form-control" id="txtEmail" name="Email" ng-model="frm.Email" placeholder="ex: example@ex.com">
				  </div>
			  	</div>
			  	<div class="col-md-6 col-sm-12 col-xs-12" style="padding-right: 0px;">
				  <div class="form-group">
				    <label for="exampleInputEmail1">Teléfono</label>
				    <input type="text" class="form-control" id="txtPhone" name="Phone" ng-model="frm.Phone" placeholder="ex: 00 000 000">
				  </div>
				</div>
				<div class="form-group">
					<label for="exampleInputEmail1">¿Que le interesó?</label>
					<select type="text" class="form-control" id="txtProduct" name="Producto" ng-model="frm.Producto">
						<option>Inmobiliaria</option>
						<option>Servicios</option>
						<option>Punto de Venta</option>
						<option>Tecnología</option>
					</select>
				</div>
			  <div class="form-group">
			    <label for="exampleInputEmail1">Mensaje</label>
			    <textarea class="form-control" rows="5" placeholder="Me interesa su producto por ..." id="txtMensaje" name="Mensaje" ng-model="frm.Mensaje"></textarea>
			  </div>
			 
			  <button type="submit" class="btn btn-default " ng-click="cont.enviarDatos(frm)">Enviar</button>
			</form>
		</div>
		
		</div>
	</div>
	<div id="Footer" class="container-fluid">
	<div class="col-md-9 col-sm-5 col-xs-5"><i class="fa fa-copyright" aria-hidden="true">2014 Copyrigh</i></div>
		<div class="col-md-3 col-sm-7 col-xs-7 redes1">
			<i class="fa fa-facebook fa-1x" aria-hidden="true"></i>
			<i class="fa fa-instagram fa-1x" aria-hidden="true"></i>
			<i class="fa fa-youtube fa-1x " aria-hidden="true"></i>
			
		</div>
	 </div>
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/npm.js"></script>
	<script src="js/parallax.js"></script>
	<script src="js/coverr.js"></script>
</body>
</html>